.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 60vh;
    margin: 32px 24px; 
    background: rgba(241, 237, 237, 0.95);
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    margin: 40px auto;
    max-width: 900px;
    width: 90%
}

.titulo {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2em;
    color: #764ba2;
    font-family: 'Poppins', sans-serif;
}

.ranking table {
    border-spacing: 80px 12px;
}
.usuario{
    text-align: center;
}
.botao-ranking a,
input[type="submit"] {
    justify-content: center;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    outline: none;
}
.botao-ranking {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.botao-ranking a:hover,
input[type="submit"]:hover {
    background: #eee;
    color: #764ba2;
    box-shadow: 0 0 8px #fff;
}
.meu-tempo {
            font-weight: bold;
        }
.meu-tempo-info {
            text-align: center;
            margin-bottom: 18px;
            font-size: 1.2em;
            color: #764ba2;
}