* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ja-jogou {
  background-color: #1c1c2e;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: justify;
}


.ja-jogou h2 {
  margin-bottom: 20px;
  margin-left: 17px;
}

.ja-jogou ul {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.login-container-2 a {
  text-decoration: none;
}

.login-container-2 a:hover {
  text-decoration: underline;
}
.button-link {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-left: 95px;
  padding: 12px 20px;
  color: white;
  background-color: #7b2cbf;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #9d4edd;
}